<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
                     http://www.springframework.org/schema/beans/spring-beans.xsd">
 
    <bean id="cash" class="com.ioc.cash"></bean>
    <bean id="Shopping" class="com.ioc.Shopping">
  <property name="p" ref="cash"></property>
  
  <constructor-arg name="p" ref="cash"></constructor-arg>
    
    </bean>

</beans>

a